<!DOCTYPE html>
<html class="metro-no-touch-device">
<head>
    <title>Bizim Oyun</title>
    <link href="~/Content/metro-all.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/underscore.js"></script>
</head>
<body>
    <header class="bg-crimson fg-white app-bar-expand" data-role="appbar" data-expand-point="md">
        <a href="#" class="brand no-hover">
            <span class="p-2 bd-dark border-radius">
                Card Switcher
            </span>
        </a>

        <ul class="app-bar-menu ml-auto">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Oyun</a>
                <ul class="d-menu bg-crimson fg-white" data-role="dropdown">
                    <li><a href="@Url.Action("Game", "Home")">Yeni Oyun</a></li>
                    <li><a href="#">Katıl</a></li>
                    <li class="divider bg-lightGray"></li>
                </ul>
            </li>
            <li>@HttpContext.Current.User.Identity.Name</li>
            <li><a class="fg-white" href='@Url.Action("Logout", "Account")'>Çıkış Yap</a></li>
        </ul>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/metro.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", false)
</body>
</html>

@*
    kazanan oyuncu çevirdiği kartın 2 katını kazanır
    kaybeden oyuncu kazananın yarısı kadar kaybeder
    oyuncu puanı 0'ın altına inmez

*@